.contA {
    // border: 1px solid red;

    h2 {
        font-size: 6vw;
        font-weight: bold;
        margin-bottom: 1vw;
        line-height: 5vw;
    }

    p {
        font-size: 1.2vw;
    }
}
