.aaa {
    display: flex;
    flex-direction: column;
    // gap: 2%;
    width: 100vw;


    .bbubbu {
        // border: 1px solid red;
    }

    .eclipse {
        // border: 1px solid blue;
    }
}