.project {
    // position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 80%;
    margin: 0 auto;

    .projectCont {
        width: 100%;
        height: 65vw;
        max-height: 610px;
        margin: 6vw auto;
        display: flex;

        .leftCont {
            width: 50%;
            border-right: 3px solid #333;
            border-bottom: 3px solid #333;
            border-top: 3px solid #333;
            color: white;


            .block {
                display: block;
                opacity: 1;
                animation: fade-in 1400ms forwards;

                @keyframes fade-in {
                    0% {
                        opacity: 0;
                        transform: translateX(-20%);
                    }

                    50% {
                        transform: translateX(0%);
                    }

                    100% {
                        opacity: 1;
                    }
                }
            }

            .none {
                display: none;
            }


        }

        .rightCont {
            width: 50%;
            // height: 100%;

            // border: 1px solid blue;

        }
    }

}