.project {
    display: flex;
    flex-direction: column;
    // gap: 2%;
    // width: 100vw;

    .bbubbu,
    .eclipse,
    .youtube {
        position: relative;
        top: 5%;

        .text {
            position: absolute;
            z-index: 999;
            bottom: 7vw;
            right: 7vw;
            font-size: 2vw;

            a {
                text-decoration-line: none;
                color: white;
            }
        }
    }
}